@model IEnumerable<Cook_Book.Models.Food>

@{
    ViewData["Title"] = "Index";
}

<h1>Deserts</h1>

<p>
    <a asp-action="Create">Create New Recipe</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>

            </th>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Food item in Model)
        {
            <tr>

                <td>
                    <img src="@item.Image" width="80" height="80" />
                </td>

                <td style="vertical-align:middle !important;">

                    <a asp-action="Details" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Name)</a>

                   
                </td>
                <td style="vertical-align:middle !important;">
                    @Html.DisplayFor(modelItem => item.Detail)
                </td>
                <td>
                   
                </td>
            </tr>
        }
    </tbody>
</table>
