@model IEnumerable<Cook_Book.Models.Food>

@{
    ViewData["Title"] = "Index";
}

<h1>Deserts</h1>

<p>
    <a asp-action="Create">Create New Recipe</a>
</p>
<table class="table">
    <thead>
        <tr>
<th>
    
</th>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Food item in Model) {
        <tr>

            <td>
                <img src="@item.Image" width="80" height="80" />
               
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
